.scroller {
    margin: 0;
    overflow: hidden;
    white-space: pre-wrap;
}

.scrollerHorizontal {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

.galleryHolder {
    display: inline-block;
    float: none;
    font-size: 1em;
    margin: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5px;
    position: relative;
    text-align: center;
}

.galleryHolder .previewHorizontal {
    -moz-filter: sepia(70%);
    -ms-filter: sepia(70%);
    -o-filter: sepia(70%);
    -webkit-filter: sepia(70%);
    border: 5px solid rgb(255, 255, 255);
    cursor: pointer;
    float: none;
    margin: 5px;
    vertical-align: middle;
}

.galleryHolder .preview:hover,
.galleryHolder .previewHorizontal:hover {
    -moz-filter: sepia(0%);
    -ms-filter: sepia(0%);
    -o-filter: sepia(0%);
    -webkit-filter: sepia(0%);
    border-color: rgb(214, 214, 214) !important;
}

.galleryHolder .downHorizontal {
    bottom: 0;
    cursor: pointer;
    display: inline-block;
    filter: Alpha(Opacity=30);
    height: 20%;
    margin: auto;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.galleryHolder .down:active,
.galleryHolder .downHorizontal:active {
    filter: Alpha(Opacity=100);
    opacity: 1;
}

.galleryHolder .down:hover,
.galleryHolder .downHorizontal:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
}

.galleryHolder .upHorizontal {
    bottom: 0;
    cursor: pointer;
    display: inline-block;
    filter: Alpha(Opacity=30);
    height: 20%;
    left: 0;
    margin: auto;
    opacity: 0.3;
    position: absolute;
    top: 0;
    z-index: 1;
}

.galleryHolder .up:active,
.galleryHolder .upHorizontal:active {
    filter: Alpha(Opacity=100);
    opacity: 1;
}

.galleryHolder .up:hover,
.galleryHolder .upHorizontal:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
}

.galleryHolder .preview {
    -moz-filter: sepia(70%);
    -ms-filter: sepia(70%);
    -o-filter: sepia(70%);
    -webkit-filter: sepia(70%);
    border: 5px solid rgb(255, 255, 255);
    cursor: pointer;
    float: none;
    margin: 5px;
}

.galleryHolder .down {
    bottom: 0;
    cursor: pointer;
    display: inline-block;
    filter: Alpha(Opacity=30);
    left: 0;
    margin: auto;
    opacity: 0.3;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
}

.galleryHolder .up {
    cursor: pointer;
    display: inline-block;
    filter: Alpha(Opacity=30);
    left: 0;
    margin: auto;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.bgcol { background-color: rgb(245, 245, 245) }

.insh {
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px 2px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px 2px inset;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px 2px inset;
}

.outsh {
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px 2px;
}

.brd {
    border-color: #F16529;
    border-style: solid;
    border-width: 10px;
}

.brdrad {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.picholder {
    height: 90%;
    left: 5%;
    position: absolute;
    top: 5%;
    width: 90%;
    z-index: 9999;
}

.picdiv {
    background: url(img/loader.gif) no-repeat center center;
    background-color: beige;
    bottom: 40px;
    filter: Alpha(Opacity=100);
    left: 10px;
    opacity: 1;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 0;
}

.picInfo {
    bottom: 0;
    font-family: tahoma, Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.moveleft {
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    background-color: black;
    border-radius: 0px 10px 10px 0px;
    color: white;
    cursor: pointer;
    filter: Alpha(Opacity=30);
    font-family: tahoma, Helvetica, Arial, sans-serif;
    left: 10px;
    opacity: 0.3;
    padding: 10px;
    position: absolute;
    text-align: right;
    top: 80px;
    width: auto;
    z-index: 1;
}

.moveright {
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px,10px;
    background-color: black;
    border-radius: 10px 0px 0px 10px;
    color: white;
    cursor: pointer;
    filter: Alpha(Opacity=30);
    font-family: tahoma, Helvetica, Arial, sans-serif;
    opacity: 0.3;
    padding: 10px;
    position: absolute;
    right: 10px;
    text-align: left;
    top: 80px;
    width: auto;
    z-index: 1;
}

.moveright:hover,
.moveleft:hover {
    filter: Alpha(Opacity=60);
    opacity: 0.6;
}

.moveright,
.moveleft {
    font-size: 1.3em;
    position: absolute;
}

#picdiv img { filter: Alpha(Opacity=0) }

.close {
    cursor: pointer;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

#overlay {
    background-color: black;
    display: none;
    filter: Alpha(Opacity=70);
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}
